* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  display: grid;
  background-color: #fff3e2;
  grid-template-columns: 6% 86% 8%;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 130px; }
  .header h1 {
    padding-left: 20px;
    font-size: 40px;
    gap: 30px; }
  .header p {
    font-size: 20px; }

.buscador-sass {
  padding-top: 95px; }
  .buscador-sass img {
    height: 30px; }

.logo {
  height: 130px; }

.main-principal {
  background-color: #ffe5ca;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 40px;
  justify-items: center;
  align-items: center; }
  .main-principal h3 {
    padding-top: 20px;
    font-size: 30px;
    gap: 20px; }

.main-segunda {
  background-color: #ffe5ca;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 30px;
  justify-items: center;
  align-items: center; }
  .main-segunda h2 {
    width: 300px;
    height: 90px;
    background: #FFF3E2;
    border: 7px solid #FFFFFF;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 40px;
    gap: 30px; }
  .main-segunda h3 {
    padding-top: 20px;
    font-size: 30px; }

.main-tercera {
  background-color: #ffe5ca;
  padding-top: 20px;
  display: grid;
  justify-items: center;
  align-items: center;
  padding-bottom: 30px; }
  .main-tercera h3 {
    padding-top: 20px;
    font-size: 30px;
    gap: 20px; }

.main-footer {
  width: 100%;
  height: 100px;
  background-color: #fff3e2;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr; }
  .main-footer li {
    font-size: 30px; }

header {
  display: grid;
  background-color: #fff3e2;
  grid-template-columns: 6% 4% 78% 12%;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 130px; }
  header h1 {
    padding-left: 40px;
    font-size: 40px; }
  header img {
    height: 30px; }

.logo {
  height: 130px; }

.main-mueble {
  background-color: #ffe5ca;
  padding-top: 20px; }
  .main-mueble h2 {
    width: 300px;
    height: 75px;
    background: #FFF3E2;
    border: 7px solid #FFFFFF;
    display: grid;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: 800px;
    margin-right: 800px;
    gap: 20px;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-items: center;
    align-items: center; }
  .main-mueble div {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px; }

.mueble, .mueble2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center; }

.main-footer {
  width: 100%;
  height: 100px;
  background-color: #fff3e2;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr; }
  .main-footer li {
    font-size: 30px; }

header {
  display: grid;
  background-color: #fff3e2;
  grid-template-columns: 6% 4% 78% 12%;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 130px; }
  header h1 {
    padding-left: 40px;
    font-size: 40px; }
  header img {
    height: 30px; }

.logo {
  height: 130px; }

.main-living {
  background-color: #ffe5ca;
  padding-top: 20px; }
  .main-living h2 {
    width: 300px;
    height: 75px;
    background: #FFF3E2;
    border: 7px solid #FFFFFF;
    display: grid;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: 800px;
    margin-right: 800px;
    gap: 20px;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-items: center;
    align-items: center; }
  .main-living div {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px; }

.living, .living2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center; }

.main-footer {
  width: 100%;
  height: 100px;
  background-color: #fff3e2;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr; }
  .main-footer li {
    font-size: 30px; }

header {
  display: grid;
  background-color: #fff3e2;
  grid-template-columns: 6% 4% 78% 12%;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 130px; }
  header h1 {
    padding-left: 40px;
    font-size: 40px; }
  header img {
    height: 30px; }

.logo {
  height: 130px; }

.main-dormitorio {
  background-color: #ffe5ca;
  padding-top: 20px; }
  .main-dormitorio h2 {
    width: 300px;
    height: 75px;
    background: #FFF3E2;
    border: 7px solid #FFFFFF;
    display: grid;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: 800px;
    margin-right: 800px;
    gap: 20px;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-items: center;
    align-items: center; }

.dormitorio, .dormitorio2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center; }
  .dormitorio h3, .dormitorio2 h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px; }

.main-footer {
  width: 100%;
  height: 100px;
  background-color: #fff3e2;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr; }
  .main-footer li {
    font-size: 30px; }

header {
  display: grid;
  background-color: #fff3e2;
  grid-template-columns: 6% 4% 78% 12%;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 130px; }
  header h1 {
    padding-left: 40px;
    font-size: 40px; }
  header img {
    height: 30px; }

.logo {
  height: 130px; }

.main-contacto {
  background-color: #ffe5ca;
  width: 100%;
  height: 776px;
  display: grid;
  justify-items: center; }
  .main-contacto h2 {
    width: 500px;
    height: 75px;
    background: #FFF3E2;
    border: 7px solid #FFFFFF;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    margin-top: 20px; }
  .main-contacto h3 {
    font-size: 30px; }
  .main-contacto iframe {
    height: 350px;
    width: 350px; }

.formulario {
  display: grid;
  width: 500px;
  height: 200px; }

header {
  display: grid;
  background-color: #fff3e2;
  grid-template-columns: 6% 4% 78% 12%;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 130px; }
  header h1 {
    padding-left: 40px;
    font-size: 40px; }
  header img {
    height: 30px; }

.logo {
  height: 130px; }

.main-nos {
  background-color: #ffe5ca;
  width: 100%;
  height: 776px;
  display: grid;
  justify-items: center;
  align-items: center; }
  .main-nos h2 {
    width: 250px;
    height: 70px;
    background: #FFF3E2;
    border: 7px solid #FFFFFF;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 30px; }
  .main-nos h3 {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 400px;
    font-size: 25px; }

/*inicio*/
@media (max-width: 1024px) {
  .header {
    display: grid;
    grid-template-columns: 11% 75% 14%; }
    .header h1 {
      font-size: 35px; }
  .main-principal img {
    height: 250px; }
  .main-principal h3 {
    font-size: 27px; }
  .main-segunda img {
    height: 250px; }
  .main-segunda h2 {
    font-size: 35px; }
  .main-segunda h3 {
    font-size: 27px; }
  .main-tercera img {
    height: 250px; }
  .main-tercera h3 {
    font-size: 27px; } }

/*nosotros*/
@media (max-width: 1024px) {
  .header-nos {
    display: grid;
    grid-template-columns: 11% 7% 82%; }
    .header-nos h1 {
      padding-right: 220px; } }

/*contacto*/
@media (max-width: 1024px) {
  .header-contacto {
    grid-template-columns: 11% 7% 81%; }
    .header-contacto h1 {
      padding-right: 170px;
      padding-left: 0px; } }

/*dormitorio*/
@media (max-width: 1024px) {
  .header-dormitorio {
    grid-template-columns: 11% 8% 60% 21%; }
  .main-dormitorio h2 {
    margin-left: 365px; }
  .dormitorio img, .dormitorio2 img {
    height: 250px; } }

/*inicio*/
@media (max-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: 13% 70% 17%;
    height: 110px; }
    .header h1 {
      font-size: 30px; }
  .logo {
    height: 110px; }
  .buscador-sass {
    padding-top: 80px; }
    .buscador-sass img {
      height: 25px; }
  .main-principal img {
    height: 180px; }
  .main-segunda img {
    height: 180px; }
  .main-segunda h2 {
    width: 240px;
    height: 70px;
    background: #FFF3E2;
    border: 7px solid #FFFFFF;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 30px;
    gap: 30px; }
  .main-tercera img {
    height: 180px; } }

/*nosotros*/
@media (max-width: 768px) {
  .header-nos {
    grid-template-columns: 13% 5% 82%;
    height: 110px; }
    .header-nos h1 {
      padding-left: 80px; }
    .header-nos ul {
      padding-left: 30px; } }

/*contacto*/
@media (max-width: 768px) {
  .header-contacto {
    height: 110px;
    grid-template-columns: 13% 10% 77%; }
  .main-footer {
    height: 110px; } }

/*dormitorio*/
@media (max-width: 768px) {
  .header-dormitorio {
    height: 110px;
    grid-template-columns: 13% 9% 51% 27%; }
    .header-dormitorio h1 {
      padding-left: 70px; }
    .header-dormitorio p img {
      height: 25px; }
  .main-dormitorio h2 {
    margin-left: 250px; }
  .dormitorio img, .dormitorio2 img {
    height: 200px; }
  .dormitorio h3, .dormitorio2 h3 {
    font-size: 25px; } }

/*inicio*/
@media (max-width: 425px) {
  .header {
    display: grid;
    grid-template-columns: 20% 52% 28%;
    height: 90px; }
    .header h1 {
      font-size: 20px; }
  .logo {
    height: 90px; }
  .buscador-sass {
    padding-top: 60px; }
    .buscador-sass img {
      height: 18px; }
    .buscador-sass p {
      font-size: 18px; }
  .main-principal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "img1" "inicio1" "img2" "inicio2" "img3" "inicio3";
    gap: 5px; }
    .main-principal .img1 {
      grid-area: img1; }
    .main-principal .inicio1 {
      grid-area: inicio1; }
    .main-principal .img2 {
      grid-area: img2; }
    .main-principal .inicio2 {
      grid-area: inicio2; }
    .main-principal .img3 {
      grid-area: img3; }
    .main-principal .inicio3 {
      grid-area: inicio3; }
  .main-segunda {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "inicio4" "img4" "inicio5" "nada" "img5" "inicio6";
    gap: 5px; }
    .main-segunda .img4 {
      grid-area: img4; }
    .main-segunda .inicio5 {
      grid-area: inicio5; }
    .main-segunda .inicio4 {
      grid-area: inicio4; }
    .main-segunda .nada {
      grid-area: nada; }
    .main-segunda .img5 {
      grid-area: img5; }
    .main-segunda .inicio6 {
      grid-area: inicio6; }
    .main-segunda h2 {
      margin-bottom: 20px; }
  .main-footer li {
    list-style-type: none;
    font-size: 20px; } }

/*nosotros*/
@media (max-width: 425px) {
  .header-nos {
    display: grid;
    height: 90px;
    grid-template-columns: 19% 9% 72%; }
    .header-nos h1 {
      font-size: 20px;
      padding-right: 100px;
      padding-left: 0px; }
  .main-nos h2 {
    width: 200px;
    height: 50px;
    background: #FFF3E2;
    border: 7px solid #FFFFFF;
    font-size: 20px; }
  .main-nos h3 {
    font-size: 18px; } }

/*contacto*/
@media (max-width: 425px) {
  .header-contacto {
    height: 90px;
    grid-template-columns: 19% 16% 65%; }
    .header-contacto h1 {
      font-size: 25px;
      padding-right: 140px; }
  .formulario {
    width: 300px; }
  .main-contacto h2 {
    font-size: 20px;
    padding-top: 17px;
    width: 300px;
    height: 70px;
    background: #FFF3E2;
    border: 7px solid #FFFFFF; }
  .main-contacto iframe {
    width: 300px;
    height: 300px; }
  .main-contacto h3 {
    font-size: 20px; }
  .main-footer {
    height: 90px; } }

/*dormitorio*/
@media (max-width: 425px) {
  .header-dormitorio {
    height: 90px;
    grid-template-columns: 19% 9% 47% 23%; }
    .header-dormitorio h1 {
      font-size: 20px;
      padding-left: 0px; }
    .header-dormitorio li {
      font-size: 16px; }
    .header-dormitorio p {
      font-size: 16px; }
      .header-dormitorio p img {
        display: none; }
  .main-dormitorio h2 {
    width: 200px;
    height: 65px;
    background: #FFF3E2;
    border: 7px solid #FFFFFF;
    font-size: 20px;
    margin-left: 115px; }
  .dormitorio, .dormitorio2 {
    grid-template-columns: 1fr;
    grid-template-areas: "imd1" "comp1" "imd2" "comp2" "imd3" "comp3"; }
    .dormitorio .imd1, .dormitorio2 .imd1 {
      grid-area: imd1; }
    .dormitorio .comp1, .dormitorio2 .comp1 {
      grid-area: comp1; }
    .dormitorio .imd2, .dormitorio2 .imd2 {
      grid-area: imd2; }
    .dormitorio .comp2, .dormitorio2 .comp2 {
      grid-area: comp2; }
    .dormitorio .imd3, .dormitorio2 .imd3 {
      grid-area: imd3; }
    .dormitorio .comp3, .dormitorio2 .comp3 {
      grid-area: comp3; }
    .dormitorio img, .dormitorio2 img {
      height: 120px; }
  .dormitorio2 {
    grid-template-columns: 1fr;
    grid-template-areas: "imd4" "comp4" "imd5" "comp5" "imd6" "comp6"; }
  .imd4 {
    grid-area: imd4; }
  .comp4 {
    grid-area: comp4; }
  .imd5 {
    grid-area: imd5; }
  .comp5 {
    grid-area: comp5; }
  .imd6 {
    grid-area: imd6; }
  .comp6 {
    grid-area: comp6; } }

/*inicio*/
@media (max-width: 375px) {
  .header {
    display: grid;
    grid-template-columns: 15% 58% 27%;
    height: 60px; }
    .header h1 {
      padding-left: 50px;
      font-size: 16px; }
  .buscador-sass {
    padding-top: 35px; }
    .buscador-sass p {
      font-size: 16px; }
    .buscador-sass img {
      height: 16px; }
  .logo {
    height: 60px; }
  .main-principal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "img1" "inicio1" "img2" "inicio2" "img3" "inicio3";
    gap: 5px; }
    .main-principal img {
      height: 150px; }
    .main-principal .img1 {
      grid-area: img1; }
    .main-principal .inicio1 {
      grid-area: inicio1; }
    .main-principal .img2 {
      grid-area: img2; }
    .main-principal .inicio2 {
      grid-area: inicio2; }
    .main-principal .img3 {
      grid-area: img3; }
    .main-principal .inicio3 {
      grid-area: inicio3; }
  .main-segunda {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "inicio4" "img4" "inicio5" "nada" "img5" "inicio6";
    gap: 5px; }
    .main-segunda img {
      height: 150px; }
    .main-segunda .img4 {
      grid-area: img4; }
    .main-segunda .inicio5 {
      grid-area: inicio5; }
    .main-segunda .inicio4 {
      grid-area: inicio4; }
    .main-segunda .nada {
      grid-area: nada; }
    .main-segunda .img5 {
      grid-area: img5; }
    .main-segunda .inicio6 {
      grid-area: inicio6; }
    .main-segunda h2 {
      margin-bottom: 20px; }
  .main-footer {
    height: 84px; }
    .main-footer li {
      list-style-type: none;
      font-size: 16px; } }

/*nosotros*/
@media (max-width: 375px) {
  .header-nos {
    grid-template-columns: 14% 12% 74%;
    height: 60px; }
  .main-nos h3 {
    width: 250px;
    font-size: 16px; } }

/*contacto*/
@media (max-width: 375px) {
  .header-contacto {
    height: 60px;
    grid-template-columns: 14% 11% 75%; }
    .header-contacto li {
      list-style-type: none; }
    .header-contacto h1 {
      font-size: 16px;
      padding-right: 100px; }
  .main-contacto h2 {
    width: 250px;
    height: 50px;
    background: #FFF3E2;
    border: 7px solid #FFFFFF;
    font-size: 16px; }
  .main-contacto iframe {
    width: 250px;
    height: 250px; }
  .formulario {
    width: 250px; } }

/*dormitorio*/
@media (max-width: 375px) {
  .header-dormitorio {
    height: 60px;
    grid-template-columns: 14% 10% 49% 27%; }
    .header-dormitorio h1 {
      font-size: 16px; }
  .main-dormitorio h2 {
    width: 180px;
    height: 65px;
    background: #FFF3E2;
    border: 7px solid #FFFFFF;
    font-size: 18px;
    margin-left: 100px; }
  .dormitorio h3, .dormitorio2 h3 {
    font-size: 20px; } }

/*inicio*/
@media (max-width: 320px) {
  .header {
    display: grid;
    grid-template-columns: 12% 57% 31%;
    height: 50px; }
    .header h1 {
      padding-left: 50px;
      font-size: 16px; }
  .logo {
    height: 50px; }
  .buscador-sass {
    padding-top: 20px; }
    .buscador-sass p {
      font-size: 16px; }
    .buscador-sass img {
      height: 16px; }
  .main-tercera img {
    height: 150px; } }

/*nosotros*/
@media (max-width: 320px) {
  .header-nos {
    height: 50px;
    grid-template-columns: 14% 12% 74%; }
    .header-nos h1 {
      font-size: 16px;
      padding-right: 80px; }
    .header-nos ul {
      font-size: 16px; } }

/*contacto*/
@media (max-width: 320px) {
  .header-contacto {
    height: 50px;
    grid-template-columns: 14% 13% 73%; }
  .main-footer {
    height: 94px; } }

/*dormitorio*/
@media (max-width: 320px) {
  .header-dormitorio {
    height: 50px;
    grid-template-columns: 14% 13% 43% 30%; }
  .main-dormitorio h2 {
    width: 160px;
    height: 40px;
    background: #FFF3E2;
    border: 7px solid #FFFFFF;
    font-size: 16px;
    margin-left: 80px;
    padding-bottom: 30px; } }
