.main-contacto{
    background-color: $color-main;
    width: 100%;
    height: 776px;
    display: grid;
    justify-items: center; 
    h2{
        @include borde ( 500px ,75px);
        display: grid;
        justify-items: center;
        align-items: center;
        gap: 20px;
        font-size: 30px;
        padding-top: 20px;
        padding-bottom: 30px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    h3{
        font-size: 30px;
    }
    iframe{
        height: 350px;
        width: 350px;
    }
}
.formulario{
    display: grid;
    width: 500px;
    height: 200px;
}
