.main-principal{
    background-color: rgb(255, 229, 202);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 40px;
    justify-items: center;
    align-items: center;
    h3{
        padding-top: 20px;
        font-size: 30px;
        gap: 20px;
    }
}
.main-segunda{
    background-color: rgb(255, 229, 202);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 30px;
    justify-items: center;
    align-items: center;
    h2{
        font-size: 40px;
        gap: 30px;
    }
    h3{
        padding-top: 20px;
        font-size: 30px;
    }
}
.main-tercera{
    background-color: rgb(255, 229, 202);
    padding-top: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
    padding-bottom: 30px;
    h3{
        padding-top: 20px;
        font-size: 30px;
        gap: 20px;
    }
}
.main-footer{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 243, 226);
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    li{
        font-size: 30px;
    }
    
}