/*inicio*/
@media (max-width: 768px){
    .header{
    display: grid;
    grid-template-columns: 13% 70% 17%;
    height: 110px;
    h1{
        font-size: 30px;
    }
    }
    .logo{
        height: 110px;
    }
    .buscador-sass{
        padding-top: 80px;
        img{
            height: 25px;
        }
    }
    .main-principal{
        img{
            height: 180px;
        }
    }
    .main-segunda{
        img{
            height: 180px;
        }
        h2{
            @include borde ( 240px ,70px);
            display: grid;
            justify-items: center;
            align-items: center;
            font-size: 30px;
            gap: 30px;
        }
    }
    
    .main-tercera{
        img{
            height: 180px;
        }
    }
}
/*nosotros*/
@media (max-width:768px){
    .header-nos{
        grid-template-columns: 13% 5% 82%;
        height: 110px;
        h1{
            padding-left: 80px;
        }
        ul{
            padding-left: 30px;
        }
    }
}
/*contacto*/
@media (max-width: 768px){
    .header-contacto{
        height: 110px;
        grid-template-columns: 13% 10% 77%;
    }
    .main-footer{
        height: 110px;
    }
}
/*dormitorio*/
@media (max-width: 768px){
    .header-dormitorio{
        height: 110px;
        grid-template-columns: 13% 9% 51% 27%;
        h1{
            padding-left: 70px;
        }
        p{
            img{
                height: 25px;
            }
        }
    }
    .main-dormitorio{
        h2{
            margin-left: 250px;
        }
    }
    .dormitorio{
        img{
            height: 200px;
        }
        h3{
            font-size: 25px;
        }
    }
}
/*living*/
@media (max-width: 768px){
    .header-living{
        height: 110px;
        grid-template-columns: 13% 9% 51% 27%;
        h1{
            padding-left: 70px;
        }
        p{
            img{
                height: 25px;
            }
        }
    }
    .main-living{
        h2{
            margin-left: 250px;
        }
    }
    .living{
        img{
            height: 200px;
        }
        h3{
            font-size: 25px;
        }
    }
}
/*muebleria*/
@media (max-width: 768px){
    .header-mueble{
        height: 110px;
        grid-template-columns: 13% 9% 51% 27%;
        h1{
            padding-left: 70px;
        }
        p{
            img{
                height: 25px;
            }
        }
    }
    .main-mueble{
        h2{
            margin-left: 250px;
        }
    }
    .mueble{
        img{
            height: 200px;
        }
        h3{
            font-size: 25px;
        }
    }
}