@media (max-width:425px){
    .header{
        display: grid;
        grid-template-columns: 20% 52% 28%;
        height: 90px;
        h1{
            font-size: 20px;
        }
    }
    .logo{
        height: 90px;
    }
    .buscador-sass{
        img{
            height: 18px;
        }
        p{
            font-size: 18px;
        }
        padding-top: 60px;
    }
    .main-principal{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "img1"
        "inicio1"
        "img2"
        "inicio2"
        "img3"
        "inicio3"
        ;
        .img1{
            grid-area: img1;
        }
        .inicio1{
            grid-area: inicio1;
        }
        .img2{
            grid-area: img2;
        }
        .inicio2{
            grid-area: inicio2;
        }
        .img3{
            grid-area: img3
        }
        .inicio3{
            grid-area: inicio3;
        }
        gap: 5px;
    }
    .main-segunda{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "inicio4"
        "img4"
        "inicio5"
        "nada"
        "img5"
        "inicio6"
        ;
        .img4{
            grid-area: img4;
        }
        .inicio5{
            grid-area: inicio5;
        }
        .inicio4{
            grid-area: inicio4;
        }
        .nada{
            grid-area: nada;
        }
        .img5{
            grid-area: img5;
        }
        .inicio6{
            grid-area: inicio6;
        }
        gap: 5px;
        h2{
            margin-bottom: 20px;
        }
    }
    .main-footer{
        li{
            list-style-type: none;
            font-size: 20px;
        }
    }
}
/*Inicio*/
@media (max-width:425px){
    .header-nos{
        display: grid;
        height: 90px;
        grid-template-columns: 19% 9% 72%;
        h1{
            font-size: 20px;
            padding-right: 100px;
            padding-left: 0px;
        }
    }
    .main-nos{
        h2{
            @include borde( 200px, 50px);
            font-size: 20px;
        }
        h3{
            font-size: 18px;
        }
    }
    
}
/*nosotros*/
@media (max-width: 425px){
    .header-contacto{
        height: 90px;
        grid-template-columns: 19% 16% 65%;
        h1{
            font-size: 25px;
            padding-right: 140px;
        }
    }
    .formulario{
        width: 300px;
    }
    .main-contacto{
        h2{
            font-size: 20px;
            padding-top: 17px;
            @include borde (300px, 70px)
        }
        iframe{
            width: 300px;
            height: 300px;
        }
        h3{
            font-size: 20px;
        }
    }
    .main-footer{
        height: 90px;
    }
}