/*inicio*/
@media (max-width:1024px){
    .header{
        display: grid;
        grid-template-columns: 11% 75% 14%;
        h1{
            font-size: 35px;
        }
    }
    .main-principal{
        img{
            height: 250px;
        }
        h3{
            font-size: 27px;
        }
    }
    .main-segunda{
        img{
            height: 250px;
        }
        h2{
            font-size: 35px;
        }
        h3{
            font-size: 27px;
        }
    }
    .main-tercera{
        img{
            height: 250px;
        }
        h3{
            font-size: 27px;
        }
    }
}
/*nosotros*/
@media (max-width:1024px){
    .header-nos{
        display: grid;
        grid-template-columns: 11% 7% 82%;
        h1{
            padding-right: 220px;
        }
    }
}
/*contacto*/
@media (max-width: 1024px){
    .header-contacto{
        grid-template-columns: 11% 7% 81%;
        h1{
            padding-right: 170px;
            padding-left: 0px;
        }
    }
}
/*dormitorio*/
@media (max-width: 1024px){
    .header-dormitorio{
        grid-template-columns: 11% 8% 60% 21%;
    }
    .main-dormitorio{
        h2{
            margin-left: 365px;
        }
    }
    .dormitorio{
        img{
            height: 250px;
        }
    }
}
/*living*/
@media (max-width: 1024px){
    .header-living{
        grid-template-columns: 11% 8% 61% 20%;
    }
    .main-living{
        h2{
            margin-left: 365px;
        }
    }
    .living{
        img{
            height: 250px;
        }
    }
}
/*muebleria*/
@media (max-width: 1024px){
    .header-mueble{
        grid-template-columns: 11% 8% 60% 21%;
    }
    .main-mueble{
        h2{
            margin-left: 365px;
        }
    }
    .mueble{
        img{
            height: 250px;
        }
    }
}