@media (max-width:320px){
    .header{
            display: grid;
            grid-template-columns: 12% 57% 31%;
            height: 50px;
            h1{
                padding-left: 50px;
                font-size: 16px;
            }
    }
    .logo{
        height: 50px;
    }
    .buscador-sass{
        padding-top: 20px;
    p{
        font-size: 16px;
    }
    img{
        height: 16px;
    }
    }
.main-tercera{
    img{
        height: 150px;
    }
}
}
/*Inicio*/
@media (max-width: 320px){
    .header-nos{
        height: 50px;
        grid-template-columns: 14% 12% 74%;
        h1{
            font-size: 16px;
            padding-right: 80px;
        }
        ul{
            font-size: 16px;
        }
    }
}
/*nosotros*/
@media (max-width: 320px){
    .header-contacto{
        height: 50px;
        grid-template-columns: 14% 13% 73%;
    }
    .main-footer{
        height: 94px;
    }
}